body {
  background-color: #e6ebe1;
}

.show-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 14px 20px;
  background-color: var(--Dark-Medium, #4f4f4f);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.button {
  margin-left: 23%;
  height: 44px;
  padding: 14px 20px;
  background-color: var(--Dark-Medium, #4f4f4f);
  color: white;
  border-radius: 8px;
  width: 385px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 36px 40px;
  border-radius: 8px;
  border: 1px solid var(--Stroke-light, #dee2e6);
  background: var(---Gray-White, #fff);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

h1 {
  text-align: center;
  color: var(--Secondary-Dark-Color, #54595e);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

p {
  text-align: center;
  color: rgba(84, 89, 94, 0.6);
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
